In [1]:
from pyspark import SparkConf, SparkContext
# 스파크 환경 설정 객체 생성
conf = SparkConf().setMaster("local").setAppName("241205_03_reduce")
spark =SparkContext(conf=conf).getOrCreate()

24/12/05 10:50:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/05 10:50:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
#여러개의 값을 하나로 축약
# RDD.reduce(<)

In [2]:
sample_rdd= spark.parallelize([1,2,3,4,5])
sample_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [3]:
from operator import add

In [4]:
sample_rdd.reduce(add)

15

# partition 이 나누어져 있을 때 

lambda x,y : (x*2) +y

1: x=1, y=2 >> (1*2)+2 =4
2: x=4, y=3  >> (4*2) +3=1
3: x=11, y=4 >>(11*2) +4 =26

In [5]:
sample_rdd1= spark.parallelize([1,2,3,4]) #여기는 하나의 파티션 
sample_rdd1.reduce(lambda x,y:(x*2)+y)

26

In [6]:
sample_rdd1.glom().collect()

[[1, 2, 3, 4]]

In [8]:
sample_rdd2= spark.parallelize([1,2,3,4],2) #파티션 쪼개기 
sample_rdd2.glom().collect()

[[1, 2], [3, 4]]

In [9]:
sample_rdd2.reduce(lambda x,y:(x*2)+y) #파티션 나눴을 떄 
# 4 , 10

18

In [ ]:
#파티션 3개일 때 - 설명 참고 

# x: p1 y:p2 p3:x,y

In [10]:
#파티션 3개일 때

# x: p1 y:p2 p3:x,y 
sample_rdd3= spark.parallelize([1,2,3,4],3)
sample_rdd3.glom().collect()

[[1], [2], [3, 4]]

In [11]:
sample_rdd3.reduce(lambda x,y:(x*2)+y)

18

In [ ]:
#리듀스 연산은 순서 의존적 
# 각 파티션 내에서 연산은 독립적으로 실행, 최종 결과는 파티션 간의 결과가 결합

###fold  연산 활용 
'''

fold( zeroValue, <func> )
    '''
    zeroValue:시작값 , 항등원 * 일 때 1, + 일 경우0

In [12]:
rdd4= spark.parallelize([2,3,4],4)  #비어있는 값없음 
rdd4.reduce(lambda x,y:x*y)

24

In [13]:
rdd4.fold(1, lambda x,y:x*y)

24

In [14]:
#오류상황 가정, 빈RDD
rdd5=  spark.parallelize([])  
rdd5.reduce(lambda a,b:a+b)

ValueError: Can not reduce() empty RDD