In [1]:
from pyspark import SparkConf, SparkContext
#r46p

In [2]:
#singLenton pattern object builder 
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("FirstSparkSessionApp").getOrCreate()

#이제 위에처럼 생성 안해도 됨.

24/12/06 13:44:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/06 13:44:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
myRange= spark.range(1000) #parallelize 생성 안해도 됨.

In [4]:
myRange

DataFrame[id: bigint]

In [6]:
myRange.show(10)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+
only showing top 10 rows

In [7]:
data = [
    ("Brook",20),
    ("Denny",20), 
    ("Jules",20),
]

In [8]:
data_frame= spark.createDataFrame(data)
data_frame

DataFrame[_1: string, _2: bigint]

In [10]:
#row 객체 58p
data_frame.show()

+-----+---+
|   _1| _2|
+-----+---+
|Brook| 20|
|Denny| 20|
|Jules| 20|
+-----+---+

In [11]:
data_frame.createOrReplaceTempView("people") #임시 뷰

In [13]:
result= spark.sql("select _1, _2 from people where _2> 30") #문장으로 바로 구성 가능
result.show( )

+---+---+
| _1| _2|
+---+---+
+---+---+

In [ ]:
#52 p StructType 구조 정의  /v파이썬 타입 참고

In [15]:
from pyspark.sql.types import*  #from pyspark.sql 앞으로 여기서 많이 사용할 것

In [19]:
schema= StructType(
    [
    StructField("Author", StringType(), False),
    StructField("age ", IntegerType(), False)
    ]
)

In [20]:
schema

StructType(List(StructField(Author,StringType,false),StructField(age ,IntegerType,false)))

In [23]:
a_df= spark.createDataFrame(data, schema)

In [24]:
a_df.show()

+------+----+
|Author|age |
+------+----+
| Brook|  20|
| Denny|  20|
| Jules|  20|
+------+----+

In [27]:
# define schema for our data
schema = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)])

#create our data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
       [2, "Brooke","Wenig","https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3","6/7/2019",7659, ["web", "twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das","https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
      ]

In [28]:
b_df = spark.createDataFrame(data, schema)

In [29]:
b_df.printSchema()

root
 |-- Id: integer (nullable = false)
 |-- First: string (nullable = false)
 |-- Last: string (nullable = false)
 |-- Url: string (nullable = false)
 |-- Published: string (nullable = false)
 |-- Hits: integer (nullable = false)
 |-- Campaigns: array (nullable = false)
 |    |-- element: string (containsNull = true)

In [30]:
#column 별로 추출 
b_df.select("Id").show(2) #projection

+---+
| Id|
+---+
|  1|
|  2|
+---+
only showing top 2 rows

In [31]:
from pyspark.sql.functions import *

In [32]:
b_df.select(expr("Hits")*2).show(10)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [33]:
b_df.select(col("Hits")*2).show()

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [ ]:
#DDL 로 작성 P52

schema = "'Id' INT, 'First' STRING, 'Last' STRING, 'Url' STRING,
''

In [ ]:
#56P select 문

In [ ]:
spark.stop() # 항상 리소스 닫기