In [ ]:
1. 데이터 RDD 생성 map
2.collect()
3.blue mnms 만 꺼내기 
4. 전체 합계 구하기
5. 도시별 합계 구하기

In [1]:
from pyspark import SparkConf, SparkContext 
conf =SparkConf().setMaster("local").setAppName("mnm-rdd-counts")
spark=SparkContext(conf=conf)

24/12/03 15:38:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/03 15:38:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/12/03 15:38:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
import os
directory= os.path.join(os.getcwd(), "data")
filename= "mnm_dataset.csv"
filepath= os.path.join(directory, filename)

In [3]:
#RDD 생성
lines= spark.textFile("file://"+filepath.replace("\\","/"))
lines

file:///home/lab10/src/data/mnm_dataset.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [4]:
lines.take(5)

['State,Color,Count', 'TX,Red,20', 'NV,Blue,66', 'CO,Blue,79', 'OR,Blue,71']

In [7]:
header= lines.first()
filtered_lines= lines.filter(lambda row:row !=header)

In [8]:
filtered_lines.take(5)

['TX,Red,20', 'NV,Blue,66', 'CO,Blue,79', 'OR,Blue,71', 'WA,Yellow,93']

In [14]:
def parse(row):
    fields = row.split(",")
    state = fields[0]
    color = fields[1]
    count = int(fields[2])
    return state, color,count

In [15]:
parse('TX,Red,20')

('TX', 'Red', 20)

In [16]:
parsed_data= filtered_lines.map(parse)

In [17]:
parsed_data.take(5)

[('TX', 'Red', 20),
 ('NV', 'Blue', 66),
 ('CO', 'Blue', 79),
 ('OR', 'Blue', 71),
 ('WA', 'Yellow', 93)]

In [19]:
state_color_count = parsed_data.map(lambda x: ((x[0], x[1]),x[2]))
state_color_count.take(5)

[(('TX', 'Red'), 20),
 (('NV', 'Blue'), 66),
 (('CO', 'Blue'), 79),
 (('OR', 'Blue'), 71),
 (('WA', 'Yellow'), 93)]

In [20]:
state_color_count_with_1= state_color_count.mapValues(lambda x: (x,1))

In [21]:
state_color_count_with_1.take(5)

[(('TX', 'Red'), (20, 1)),
 (('NV', 'Blue'), (66, 1)),
 (('CO', 'Blue'), (79, 1)),
 (('OR', 'Blue'), (71, 1)),
 (('WA', 'Yellow'), (93, 1))]

In [22]:
reduced_rdd = state_color_count_with_1.reduceByKey(lambda x,y: (x[0]+y[0], x[1]+ y[1]))

In [23]:
reduced_rdd.take(5)

[(('TX', 'Red'), (95404, 1725)),
 (('NV', 'Blue'), (90003, 1673)),
 (('CO', 'Blue'), (93412, 1695)),
 (('OR', 'Blue'), (90526, 1646)),
 (('WA', 'Yellow'), (92920, 1663))]

In [24]:
final_result = reduced_rdd.map(lambda x: (x[0], x[1][0], x[1][1]))
final_result.collect()

[(('TX', 'Red'), 95404, 1725),
 (('NV', 'Blue'), 90003, 1673),
 (('CO', 'Blue'), 93412, 1695),
 (('OR', 'Blue'), 90526, 1646),
 (('WA', 'Yellow'), 92920, 1663),
 (('WY', 'Blue'), 91002, 1664),
 (('CA', 'Yellow'), 100956, 1807),
 (('WA', 'Green'), 96486, 1779),
 (('OR', 'Green'), 89578, 1634),
 (('TX', 'Green'), 95753, 1737),
 (('NV', 'Green'), 91331, 1698),
 (('AZ', 'Brown'), 92287, 1698),
 (('AZ', 'Blue'), 89971, 1636),
 (('OR', 'Brown'), 89136, 1621),
 (('NV', 'Red'), 89346, 1610),
 (('WY', 'Orange'), 87956, 1595),
 (('TX', 'Brown'), 90736, 1641),
 (('CO', 'Red'), 89465, 1624),
 (('AZ', 'Green'), 91882, 1676),
 (('NM', 'Yellow'), 92747, 1688),
 (('WA', 'Red'), 93332, 1671),
 (('WY', 'Red'), 91768, 1670),
 (('TX', 'Orange'), 92315, 1652),
 (('WY', 'Yellow'), 87800, 1626),
 (('CO', 'Orange'), 90971, 1642),
 (('NV', 'Orange'), 93929, 1712),
 (('WY', 'Green'), 94339, 1695),
 (('CA', 'Green'), 93505, 1723),
 (('UT', 'Red'), 90995, 1680),
 (('CA', 'Red'), 91527, 1656),
 (('TX', 'Yellow'), 93819, 1703),
 (('WA', 'Orange'), 91521, 1658),
 (('AZ', 'Orange'), 91684, 1689),
 (('AZ', 'Red'), 90042, 1648),
 (('CA', 'Blue'), 89123, 1603),
 (('CO', 'Brown'), 93692, 1656),
 (('UT', 'Green'), 88392, 1591),
 (('NM', 'Green'), 91160, 1682),
 (('NV', 'Yellow'), 91390, 1675),
 (('TX', 'Blue'), 88466, 1614),
 (('WA', 'Brown'), 93082, 1669),
 (('OR', 'Red'), 90286, 1645),
 (('UT', 'Blue'), 89977, 1655),
 (('NM', 'Brown'), 93447, 1687),
 (('UT', 'Yellow'), 89264, 1645),
 (('UT', 'Brown'), 88973, 1631),
 (('WY', 'Brown'), 86110, 1532),
 (('WA', 'Blue'), 89886, 1625),
 (('CA', 'Orange'), 90311, 1657),
 (('OR', 'Orange'), 94514, 1743),
 (('AZ', 'Yellow'), 90946, 1654),
 (('CA', 'Brown'), 95762, 1718),
 (('NM', 'Blue'), 90150, 1638),
 (('CO', 'Green'), 93724, 1713),
 (('NV', 'Brown'), 92478, 1657),
 (('NM', 'Orange'), 91251, 1665),
 (('OR', 'Yellow'), 88129, 1614),
 (('UT', 'Orange'), 91341, 1684),
 (('NM', 'Red'), 94699, 1690),
 (('CO', 'Yellow'), 95038, 1721)]

In [29]:
blue_mnms= reduced_rdd.filter(lambda x:x[0][1]=="Blue")
blue_mnms.collect()

[(('NV', 'Blue'), (90003, 1673)),
 (('CO', 'Blue'), (93412, 1695)),
 (('OR', 'Blue'), (90526, 1646)),
 (('WY', 'Blue'), (91002, 1664)),
 (('AZ', 'Blue'), (89971, 1636)),
 (('CA', 'Blue'), (89123, 1603)),
 (('TX', 'Blue'), (88466, 1614)),
 (('UT', 'Blue'), (89977, 1655)),
 (('WA', 'Blue'), (89886, 1625)),
 (('NM', 'Blue'), (90150, 1638))]

In [30]:
total_count = final_result.map(lambda x: x[1]).sum()
total_records= final_result.map(lambda x:x[2]).sum()
print(f"Total Count: {total_count}, Total Records: {total_records}")

Total Count: 5500035, Total Records: 99999

In [31]:
#도시별 합계

state_totals= final_result.map(dlambda x:(x[0][0], x[1])).reduceByKey(lambda a,b: a+b)
state_totals.collect()

[('TX', 556493),
 ('NV', 548477),
 ('CO', 556302),
 ('OR', 542169),
 ('WA', 557227),
 ('WY', 538975),
 ('CA', 561184),
 ('AZ', 546812),
 ('NM', 553454),
 ('UT', 538942)]