In [17]:
host_ip="15.152.95.36"
user_id="spark_user"
user_password="1234"

In [22]:
import mysql.connector

conn = mysql.connector.connect(
    host= host_ip,
    user= user_id,
    password= user_password,
    database="my_db"
)

In [23]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")

In [24]:
for table in cursor.fetchall():
    print(table)

('DEPT',)
('EMP',)
('salgrade',)

In [25]:
cursor.close()
conn.close()