In [2]:
spark.stop()

NameError: name 'spark' is not defined

In [3]:
from pyspark import SparkConf, SparkContext
# 스파크 환경 설정 객체 생성
conf = SparkConf().setMaster("local").setAppName("241204_01_RDD_API")
spark =SparkContext(conf=conf).getOrCreate()

24/12/04 14:12:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
spark

In [5]:
foods= spark.parallelize(["짜장면", "마라탕", "짬뽕", "떡볶이", "쌀국수", "짬뽕", "짜장면", "짜장면", "짜장면", "라면", "우동", "라면"])
foods

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [6]:
#모두 메모리로 올리기
foods.collect()

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수', '짬뽕', '짜장면', '짜장면', '짜장면', '라면', '우동', '라면']

In [7]:
#값을 기준으로 카운트 
foods.countByValue()

defaultdict(int,
            {'짜장면': 4,
             '마라탕': 1,
             '짬뽕': 2,
             '떡볶이': 1,
             '쌀국수': 1,
             '라면': 2,
             '우동': 1})

In [8]:
#상위 3개만 가져와 
foods.take(3)

['짜장면', '마라탕', '짬뽕']

In [9]:
#처음 1개 가져오기
foods.first()

'짜장면'

In [10]:
#RDD 갯수
foods.count()

12

In [11]:
#중복 제거 목록 
#Transformation 연산 - rdd를 새로 만듦 
fd_dist=foods.distinct()
fd_dist

PythonRDD[9] at RDD at PythonRDD.scala:53

In [12]:
#action 연산 -변환을 끝내고 Result
fd_dist.collect()

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수', '라면', '우동']

In [13]:
#워커노드에서 실행하는 기능 
foods.foreach(lambda x: print(x))

짜장면
마라탕
짬뽕
떡볶이
쌀국수
짬뽕
짜장면
짜장면
짜장면
라면
우동
라면

In [14]:
foods.foreach(lambda x: x)

In [15]:
#Narrow Operation 1:1 연산 
filter(), map(), flatmap(), sample(), union()

TypeError: filter expected 2 arguments, got 0

In [16]:
sample_rdd= spark.parallelize([1,2,3,4,5])

In [17]:
sample_rdd2= sample_rdd.map(lambda x: x+2) #d+2, 2+2 , 3+2 ...

In [18]:
sample_rdd2.collect()

[3, 4, 5, 6, 7]

In [19]:
movies = [
    "그린 북",
    "매트릭스",
    "토이 스토리",
    "캐스트 어웨이",
    "포드 V 페라리",
    "보헤미안 랩소디",
    "빽 투 더 퓨처",
    "반지의 제왕",
    "죽은 시인의 사회"
]

In [20]:
moviesRDD= spark.parallelize(movies)

In [23]:
mapMovies= moviesRDD.map(lambda x: x.split(' '))

In [24]:
mapMovies.collect()

[['그린', '북'],
 ['매트릭스'],
 ['토이', '스토리'],
 ['캐스트', '어웨이'],
 ['포드', 'V', '페라리'],
 ['보헤미안', '랩소디'],
 ['빽', '투', '더', '퓨처'],
 ['반지의', '제왕'],
 ['죽은', '시인의', '사회']]

In [26]:
flatMapMovies = moviesRDD.flatMap(lambda x:x.split(" "))
flatMapMovies.collect()

['그린',
 '북',
 '매트릭스',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [27]:
filterdMovies= flatMapMovies.filter(lambda x: x!="매트릭스")
filterdMovies.collect()

['그린',
 '북',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [41]:
#집합연산
num1= spark.parallelize([1,2,3,4,5])
num2= spark.parallelize([4,5,6,7,8,9,10])

In [42]:
#intersection
num1.intersection(num2).collect() #바로 보고자 하는 것

[4, 5]

In [43]:
#union, subtract
union_result = num1.union(num2)
subtract_result = num1.subtract(num2)

In [ ]:
#sample( with)

In [44]:
numlist=num1.union(num2)
numlist.collect()

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9, 10]

In [45]:
numlist.sample(True, 0.5).collect()

[7, 10]

In [46]:
numlist.sample(True, 0.3).collect()

[1, 2, 8, 8, 9]

In [47]:
numlist.sample(False, 0.7).collect() #재현이 안되는 샘플

[1, 5, 4, 5, 6, 7, 8, 10]

In [48]:
numlist.sample(True, 0.5, seed=42).collect() #재현이 가능한 샘플

[5, 6, 6]

In [28]:
foods.collect()

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수', '짬뽕', '짜장면', '짜장면', '짜장면', '라면', '우동', '라면']

In [31]:
foodsGroup= foods.groupBy(lambda x: x[0])
result= foodsGroup.collect()

In [33]:
for (k,v) in result:
    print(k,list(v))

짜 ['짜장면', '짜장면', '짜장면', '짜장면']
마 ['마라탕']
짬 ['짬뽕', '짬뽕']
떡 ['떡볶이']
쌀 ['쌀국수']
라 ['라면', '라면']
우 ['우동']

In [34]:
spark.stop()